
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}
body{
    min-height: 100vh;
    width:100vw;
    overflow-x: hidden;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: purple;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}
body{
    background: #f9f9f9;
}
/* Header Start */
.header{
    background: #F5F5DC
    ;
    width: 100%;
    box-shadow: 0px 1px 1px black;

}
.header nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    display: flex;
    margin-left: 80px;
}
.content .logo a{
    color: black;
    font-size: 30px;
    font-weight: 650;
}
.content .logo a span{
    color: #E60088;
}
.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #E60088;
    font-size: 18px;
    padding: 9px 17px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    background: #E60088;
    color: white;
}
.header .search-icon,
.header .menu-icon{
    color: white;
    font-size: 18px;
    line-height: 70px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.header .menu-icon{
    display: none;
}
.header #show-search:checked ~.search-icon i::before{
    content: "\f00d";
}
.header .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.header #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: black;
    background: white;
    padding: 0 100px 0 15px;
}
.search-box input::placeholder{
    color: black;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: purple;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.header input[type="checkbox"]{
    display: none;
}

/* Responsive Code Start */
@media screen and (max-width: 1250px){
    .header nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
        margin-left: 30px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .header .search-box{
        max-width: calc(100% - 100px);
    }
    .header .search-box input{
        padding: 0 100px 0 15px;
    }
}
@media screen and (max-width:900px){
    .header .menu-icon{
        display: block;
    }
    .header #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background: white;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }
}
/* Responsive Code Start */

/* Header End */







/* Home section Start */
.home{
    width: 100%;
    height: 106vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 0;
    padding: 17px 5% 211px;
    background: url(jewels-sparkle-golden-wedding-rings-lying-leather.jpg) no-repeat center;
    height: 95vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.home-content{
    flex: 1 1 400px;
}
.home .img{
    flex: 1 1 150px;
}
.home .img img{
    width: 100%;
    box-shadow: 0px 15px 12px -10px black;
    background: purple;
    
}

.home-content h3{
    color: white;
    font-size: 50px;
    font-weight: 600;
}
.home-content h3 span{
    color: purple;
    text-shadow: 0px 1px 1px black;
}
.home-content h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}
.home-content h2 span{
    color: purple;
    text-shadow: 0px 1px 1px black;
}
.home-content p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 6px;
}
#btn{
    width: 150px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    background-color: purple;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}
#btn:hover{
    width: 175px;
}
@media screen and (max-width:1243){
    .home{
        padding: 50px 5% 120px;
    }
}
@media (max-width:660px){
    .home-content h3{
        font-size: 25px;
    }
    .home-content h2{
        font-size: 32px;
    }
}
@media (max-width:597px){
    .home{
        text-align: center;
    }
}
/* Home section End */

/* about section */

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:  #f5f5f5;
}

.about .image{
    flex:1 1 30rem;
    height:20rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    border-radius: 1rem;
}

.about .image img{
    border-radius: 1rem;
    height:30rem;
    width: 30rem;
    box-shadow: -13px 20px 29px 0px #080707,
    inset -100px 10px 64px 48px #080707,
    0 0 40px 10px #080707,
    inset 0 0 10px 0 #080707;
}

.about .content{
    flex:1 1 40rem;
    padding-left: 2rem;
    margin-top: 3rem;
    height:40rem
}

.about .content h3{
    font-size: 4rem;
}

.about .content .number {
    color: var(--color)
}

.about .content p{
    font-size: 1.2rem;

    color: var(--dark);
    padding:1rem 0;
}



.about-items {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.about-items .item {
    width: 30%;
}

.about-items .item h4 {
    font-size: 5rem;
    font-weight: 300;
}

.about-items .item  .img-about {
    width: 30%;
}




.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    }
    
    .div1 {
        grid-area: 1 / 1 / 2 / 2;
        margin: 3rem;
        padding: 2rem;
        justify-content: center;
    }
    
    .div2 {
        grid-area: 1 / 2 / 2 / 3;
        margin: 3rem;
        padding: 2rem;
        justify-content: center;
        
        
        
    }






.heading {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
  }

  .heading > h1 {
    line-height: 45px;
  }

  .heading > p {
    line-height: 32px;
  }

  .container {
    flex-wrap: wrap;
    display: flex;

    justify-content: space-evenly;

    padding: 5%;
  }

  .info {
    text-align: start;
    line-height: 30px;
    letter-spacing: 1px;

    width: 28%;
    box-shadow: 0 1px 1px 0 rgb(10 16 34 / 20%);

    font-family: "Raleway", sans-serif;
  }


.info .icon {
    text-align: center;
    margin: auto;
    font-size: 50px;
    width: auto;
  }
  
  .info {
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
  
    box-shadow: 0 1px 1px 0 rgb(10 16 34 / 20%);
  
    font-family: "Raleway", sans-serif;
  
    border: 0.25px solid #fff;
  }
  
  .info__text h1 {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
  }
  
  .info__text p {
    padding: 10px;
    color: #707070;
  }
  
  .info__text h5 {
    color: #f85a40;
    padding: 10px;
  }
  
  .info:hover {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  }
  
  .info span > img {
    width: 100%;
  }
  
  .info__text {
    padding: 10px;
  }
  
  .info__text > p {
    line-height: 20px;
  }
  
  .info {
    margin-bottom: 30px;
  }
  


/* Reviews Start */
.reviews{
    padding: 100px 8% 120px;
    background: white;
}
.review-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: #f9f9f9;
    padding: 35px 45px;
    height: 35vh;
    border-radius: 8px;
    transition: 0.5s ease;
    text-align: center;
}

.box p{
    margin-top:10px;
}

@media (max-width:920px){
    .review-content{
        grid-template-columns: 1fr;
    }
    .container {
        flex-wrap: wrap;
        display: flex;
    
        justify-content: space-evenly;
    
        padding: 5%;
      }
    
      .info {
        text-align: start;
        line-height: 30px;
        letter-spacing: 1px;
        flex-basis: 100%;
        width: 28%;
        box-shadow: 0 1px 1px 0 rgb(10 16 34 / 20%);
    
        font-family: "Raleway", sans-serif;
      }
}

.main-text{
    text-align: center;
}
.main-text h3{
    font-size: 36px;
    font-weight: 600;
    color: black;
    text-shadow: 0px 1px 1px black;
}
.main-text h3 span{
    color: #C8126E;
}
/* Reviews End */



/* About Section Start */








/* Order Section End */




/* Footer Start */
/* footer section styling */
footer {
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: white;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #0000F6;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}/* Footer End */

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background: #C8126E;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
